.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  /* C0DA74
  52BAD1 */
  .spinner {
    border: 2px solid #C0DA74;
    border-left-color: #333;
    animation: spin 2s linear infinite;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }