.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3%;
  margin-left: 18%;
}

.home-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-image{
  margin-top: 2%;
  margin-bottom: 0;
  height: 40vh;
  object-fit: fill;
}

.logo-img{
  height: 100%;
}

.headline{
  font-size: 6em;
  color: #5EBED4;
  margin: 2%;
  font-weight: 900;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-animation-text{
  scroll-margin: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4.2vh;
  width: 100%;
  margin-block: 50vh;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  
}

@media all and (max-width: 950px) {
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  .main-image{
    margin-top: 12%;
  }

  .main-animation-text{
    flex-direction: column;
  }
}

.sub-content {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10%;
  padding-inline: 20px;
}

.home-heading {
  font-size: 60px;
}

.home-subheading {
  font-size: 30px;
}

.home-content {
  font-size: 20px;
  align-items: start;
}

.home-button {
  border-radius: 20px;
  height: 40px;
  margin-inline: 30px;
  padding-inline: 20px;
  margin-top: 60px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 8px;
  width: 33%;
  height: 25vh;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 16px;
}

.token-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 12px;
  padding: 12px;
  width: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: #272e2e;
  background-color: #272e2e;
  border-radius: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.function-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 24px;
  padding: 8px;
  width: 50%;
  height: 60%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(92, 67, 67);
  border-radius: 16px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(166, 166, 190);
}
