.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    margin-left: 18%;
  }


  .learn-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 20px;
    margin-inline: 2vw;
    padding-inline: 2vw;
    padding-bottom: 4vh;
}


.content-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 6%;
    align-content: start;


}

.left-para{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 60%;
    text-decoration-style: dashed;    
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.5;
}


.free-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12%;
    margin-top: 4%;
}
